body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9AC0CD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #6699a1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h1 {
    color: #fff;
    font-style: oblique;
    font-weight: bold;
    background-color: #236be8;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #F0F8FF;
    text-align: center;
    font-weight: bold;
    font-style: oblique;

}

::placeholder {
    color: #236BE8;
    font-weight: bold;
    font-style: oblique;

}

button {
    width: 95%;
    padding: 12px;
    background-color: #236BE8;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-style: oblique;
    cursor: pointer;
    margin-top: 10px;

}

button:hover {
    background-color: #1E5A7B;

}

p {
    margin-top: 15px;
    color: #1E5A7B;
    font-style: oblique;

}

a {
    color: #00008b;
    font-weight: bold;
    font-style: oblique;

}

a:hover {
    text-decoration: underline;
}